services:
  airflow:
    build: .
    container_name: de_airflow
    command: standalone
    ports:
      - "8080:8080"
    
    env_file:
      - .env
      
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./dbt_project:/opt/airflow/dbt_project
      - ./libs:/opt/airflow/libs
      - ./logs:/opt/airflow/logs