name: Data Platform CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    
    env:
      SNOWFLAKE_ACCOUNT: "dummy_account"
      SNOWFLAKE_USER: "dummy_user"
      SNOWFLAKE_PASSWORD: "dummy_password"
      SNOWFLAKE_ROLE: "ACCOUNTADMIN"
      SNOWFLAKE_WAREHOUSE: "COMPUTE_WH"
      SNOWFLAKE_DATABASE: "ANALYTICS"
      SNOWFLAKE_SCHEMA: "RAW_VAULT"

    steps:
      # 1. Download the code
      - name: Checkout code
        uses: actions/checkout@v4

      #2. Install Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      #3. Install UV (our quick manager)
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      # 4. Install libraries (dbt, linter)
      - name: Install dependencies
        run: |
          pip install dbt-snowflake==1.8.3 astronomer-cosmos==1.7.0 sqlfluff sqlfluff-templater-dbt

      # 5. Install dbt dependencies (dbt_utils)
      - name: Install dbt packages
        run: |
          cd dbt_project
          uv run dbt deps

     # 6. CHECK 1: SQL Linter (SQLFluff)
     # This will check if the SQL in the models folder is well-written.
      - name: Lint SQL files
        run: |
          uv run sqlfluff lint dbt_project/models --dialect snowflake

     # 7. CHECK 2: Project Build (DBT Parse)
     # Checks for YAML and Jinja errors without connecting to the database
      - name: Verify dbt project builds
        run: |
          cd dbt_project
          uv run dbt parse --profiles-dir .