jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    
    # Заглушки, чтобы dbt не ругался на отсутствие паролей при проверке
    env:
      SNOWFLAKE_ACCOUNT: "dummy"
      SNOWFLAKE_USER: "dummy"
      SNOWFLAKE_PASSWORD: "dummy"
      SNOWFLAKE_ROLE: "ACCOUNTADMIN"
      SNOWFLAKE_WAREHOUSE: "COMPUTE_WH"
      SNOWFLAKE_DATABASE: "ANALYTICS"
      SNOWFLAKE_SCHEMA: "RAW_VAULT"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install dbt-snowflake==1.8.3 astronomer-cosmos==1.7.0 sqlfluff==3.0.0 sqlfluff-templater-dbt==3.0.0

      - name: Install dbt packages
        run: |
          cd dbt_project
          dbt deps

      - name: Lint SQL files
        run: |
          cd dbt_project
          sqlfluff lint models --dialect snowflake --processes 1

      - name: Verify dbt project builds
        run: |
          cd dbt_project
          dbt parse --profiles-dir .