name: Data Platform CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}

      DBT_PROFILES_DIR: .

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install dbt-snowflake==1.8.3 astronomer-cosmos==1.7.0 sqlfluff==3.3.0 sqlfluff-templater-dbt==3.3.0

      - name: Install dbt packages
        run: |
          cd dbt_project
          dbt deps

      - name: Lint SQL files
        continue-on-error: true
        run: |
          cd dbt_project
          sqlfluff lint models --dialect snowflake --processes 1 --exclude-rules CP01,CP02,ST06,LT05

      - name: Test Connection
        run: |
          cd dbt_project
          dbt debug

      - name: Run dbt Seeds
        run: |
          cd dbt_project
          dbt seed --full-refresh

      - name: Run dbt Models
        run: |
          cd dbt_project
          dbt run

      - name: Test dbt Models
        run: |
          cd dbt_project
          dbt test